/Semana 2/clase_29042026/nbproject/private/
/Semana 2/clase_29042026/build/
/Semana 2/clase_29042026_ejercicios/nbproject/private/
/Semana 2/clase_29042026_ejercicios/build/
/Semana 3/clase-_05052026/nbproject/private/
/Semana 3/clase-_05052026/build/
/Semana 3/clase_06052026/nbproject/private/
/Semana 3/clase_06052026/build/
/Semana 3/clase_06052026/dist/
/NewFolder/clase_12052026/nbproject/private/
/NewFolder/clase_12052026/build/
/NewFolder/clase_12052026/dist/
/Semana 4/clase_12052026/nbproject/private/
/Semana 4/clase_12052026/dist/
/Semana 4/clase_12052026/build/
/Semana 4/clase_13052026/nbproject/private/
/Semana 4/clase_13052026/build/
/Semana 4/clase_14052026_ahorcado/nbproject/private/
/Semana 4/clase_14052026_ahorcado/build/
/Semana 5/clase_18052026/nbproject/private/
/Semana 5/clase_18052026/build/
/Semana 5/clase_18052026/dist/
